.clientes-drawer-address-container {
  margin-bottom: 24px;
  padding: 8px;
  background-color: var(--light-extra-color);
  border-radius: 8px;
  border: 1px solid var(--light-color);
}

.clientes-drawer-address-title {
  margin-bottom: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark-medium-color);
}

.clientes-drawer-address-row {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.clientes-drawer-address-row > * {
  width: 50%;
}

.clientes-registros-extra-container {
  display: flex;
  gap: 64px;
  align-items: center;
}

.clientes-registros-volver-button {
  font-weight: 500;
}

.mobile-input-container {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

.mobile-card .ant-card-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-card h4 {
  font-size: 1.5rem;
  color: var(--dark-medium-color);
}

.mobile-card p {
  margin: 16px 0;
  font-size: 1rem;
}

.mobile-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
