.pedidos-add-form-delivery-frequency {
  display: flex;
  align-items: center;
  gap: 8px;
}

.pedidos-add-form-delivery-frequency-number-of-weeks {
  width: 60px;
}

.pedidos-drawer-detalle-container {
  display: flex;
}

.dynamic-delete-button {
  position: relative;
  top: 4px;
  margin: 0 8px;
  color: #999;
  font-size: 24px;
  cursor: pointer;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
