.Acciones {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.Accion {
  cursor: pointer;
}

.DrawerButton {
  font-weight: 500;
}

.AddButton {
  text-transform: uppercase;
  font-weight: 500;
}

.BuscadorTabla {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.SelectFechaTabla {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.WipTable {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #f8d7da;
  border: 2px dashed #f5c6cb;
  border-radius: 8px;
  color: #721c24;
  font-size: 1.5rem;
  font-weight: bold;
}
