.Acciones {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.Accion {
  cursor: pointer;
}

.DrawerButton {
  font-weight: 500;
}

.AddButton {
  text-transform: uppercase;
  font-weight: 500;
}

.BuscadorTabla {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.SelectFechaTabla {
  display: flex;
  gap: 8px;
  padding: 8px;
}
