/* TABLES: */
.TableActions {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.TableAction {
  cursor: pointer;
}

.TableBuscador {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.TableSelectFecha {
  display: flex;
  gap: 8px;
  padding: 8px;
}

/* BUTTONS: */
.ButtonAdd {
  text-transform: uppercase;
  font-weight: 600;
}

.ButtonSave {
  font-weight: 500;
}
