.recorridos-title {
  margin-top: 32px;
  margin-bottom: 16px;
  font-size: 1.2rem;
  color: var(--dark-medium-color);
}

.RecorridosPlanificarButton {
  text-transform: uppercase;
  font-weight: 500;
}

.recorridos-drawer-entregas-table {
  margin: 16px 0;
}

.entregas-pago-info-container h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--dark-medium-color);
  margin: 32px 0 16px 0;
}

.EntregasMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.entregas-mobile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 1.5rem;
  color: var(--dark-medium-color);
}

.entregas-mobile-table {
  width: 100%;
  margin: 48px 0;
}

.entregas-mobile-button {
  width: fit-content;
  /* margin-top: 48px; */
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
}
