.MainLayout {
  position: relative;
  min-height: 100vh;
}

.MainLayout .ant-layout-sider-collapsed + .site-layout {
  margin-left: 80px;
}

/* SIDEBAR: */
.main-layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-color: unset;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar-menu-container {
  flex-grow: 1;
}

.sidebar-logout-container {
  margin-top: auto;
}

.sidebar-brand {
  display: flex;
  align-items: center;
  margin: 16px;
}

.sidebar-brand-logo {
  width: 40px;
  height: 40px;
}

.sidebar-brand-name {
  margin-bottom: 8px;
  font-family: Sansita, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-wrap: nowrap;
  color: var(--primary-color);
  overflow: hidden;
}

.sidebar-new-button-container {
  padding: 0 16px;
  margin-bottom: 16px;
}

.sidebar-new-button {
  font-weight: 600;
}

.PopoverContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* MAIN CONTENT: */
.content-layout {
  margin-left: 200px;
  transition: margin-left 0.2s;
}

.main-layout-content {
  padding: 32px 54px;
  overflow-y: auto;
  height: 100vh;
}

.MainContent {
  width: 100%;
  height: 100%;
  /* padding: 24px 29px; */
}

.main-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.main-content-title-container {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--dark-color);
}

/* MOBILE MENU: */
.mobile-menu-container {
  position: absolute;
  z-index: 1000;
}

.MobileMenu .ant-drawer-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 16px;
}

.MobileMenu button {
  font-weight: 500;
  color: var(--dark-medium-color);
}

.mobile-menu-brand {
  display: flex;
  /* align-items: baseline; */
  gap: 4px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 8px;
}

.mobile-menu-brand-name {
  /* margin-bottom: 8px; */
  font-family: Sansita, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-wrap: nowrap;
  color: var(--primary-color);
  overflow: hidden;
}

.mobile-menu-brand-logo {
  width: 40px;
  height: 40px;
}

.mobile-menu-icon {
  margin: 8px;
  color: var(--primary-color);
}

.MobileContent {
  width: 100%;
  height: 100%;
}

.mobile-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.mobile-content-title-container {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.35rem;
  color: var(--dark-color);
}

@media (max-width: 500px) {
  .main-layout-content {
    /* background-color: var(--light-extra-color); */
    padding: 32px 64px;
    overflow-y: auto;
    height: 100vh;
  }
}
